<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Error page</title>
</head>
<body>
	<h1 th:text="${errorCode}">500</h1>
	<p th:text="${errorMessage}">java.lang.NullPointerException</p>
	
	<h1 th:text="#{error_title}">Your request cannot be processed <span>:(</span></h1>

    <p th:text="#{error_subtitle}">Sorry, an error has occurred.</p>

    <span th:text="#{error_status}">Status:</span>&nbsp;<span th:text="${error}"></span>&nbsp;(<span th:text="${error}"></span>)<br/>
    <span th:if="${!#strings.isEmpty(message)}">
        <span th:text="#{error_message}">Message:</span>&nbsp;<span th:text="${message}"></span><br/>
    </span>

    <script th:inline="text">
        /*<![CDATA[*/
        var GOOG_FIXURL_LANG = '[[${#locale.language}]]', GOOG_FIXURL_SITE = location.host;
        /*]]>*/
    </script>
    <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
</body>
</html>